// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    font-size: 100%;
}

.dropdown-item {
    font-size: 95%;
}

#loader {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 9999;
    display: none;
    color: #FFF;
    font-size: 40px;
}
